body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;  
  background: hsl(0, 0%, 98%);
  font-size: 15px;
  font-family: 'Poppins';
}

/* Main Container */
.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 4rem;
}

/* Body Header */

#body-header {
  box-sizing: border-box;
  text-align: center;
  margin: 2rem auto;
}

#body-header h1{
  font-weight: 200; 
  color: hsl(234, 12%, 34%);
  line-height: 1.6rem;
}

#body-header h1 span {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  text-transform: uppercase;
}

#body-header p {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Card Container */

#card-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

#card-container .col {
  flex-grow: 1;
  width: 33.33%;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

#col-1, #col-3 {
  align-self: center;
}
 
#col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} 

/* Card Styling */
.card {
  box-sizing: border-box;
  width: 90%;
  height: 200px;
  position: relative;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
  margin: 1rem auto;
  border-radius: 4%;
  background: white;
  box-shadow: 3px 3px 20px -8px rgb(187, 185, 185);
}

/*  Card Content */

.card h3 {
  font-weight: 600;
  color: hsl(234, 12%, 34%); 
}

.card p {
  margin: 1rem 2rem 1rem auto;
  text-align: left;
  font-size: smaller;
}

.card img {
  display: block;
  width: 15%;
  height: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}


/* Card Boundary color */
#card-1 {
  border-top: 4px solid hsl(180, 62%, 55%);
  align-self: center;
}

#card-2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

#card-3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

#card-4 {
  border-top: 4px solid hsl(212, 86%, 64%);
  align-self: center;
}

footer {
  margin-top: 2rem;
  background: #F7FDFF;
  color: white;
  text-align: center;
}

footer p a {
  text-decoration: none;
  font-weight: 600;
  color: grey;
}


/* Small and Medium Screen */
@media (max-width: 800px) {
  .container {
    padding: 4rem 4rem;
  }
  #body-header p{
     width: 100%; 
  }
  
  #card-container .col{
    width: 100%;
  }

  .card {
    height: 25vh;
  }
  
  .card img {
    width: 10%;
    
  }

  #card-1, #card-3 {
    align-self: auto;
  }
}


.description-text {
  font-weight: 400;
  line-height: 1.5rem;
  color:  hsl(229, 6%, 66%);
}
